
<h1>Products <%= link_to "New product", new_product_path, class: "btn btn-success" %></h1>
<div class="d-flex justify-content-center">
  <%= render "searchbarproducts" %>
  
</div>
<div id="products">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Comment</th>
        <th class="d-flex">Price
          <%= button_to '+20%', augmenter_prix_products_path, method: :post, class: 'btn btn-primary m-3' %>
  
        </th>
        <th>User</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <%= render product%>
      <% end %>
    </tbody>
  </table>
</div>